
@{
    ViewBag.Title = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*işleri listelemek için kullancaz*@
<div class="container mt-5"> 
    <div class="mb-3">
        <h3>@ViewBag.personel.personelAdSoyad işleri</h3>
    </div>
    @foreach (var i in ViewBag.isler)
            {
                <div class="card">
                    <div class="card-header bg-black text-center text-white">
                        @i.isBaslik
                        <div>

                        </div class ="card-body" >
                        <ul class="list-group list-group-flush" >
                            <li class="list-group-item">@i.isAcıklama</li>
                            <li class="list-group-item">başlanan ve iletilen tarih : @i.baslanan ve iletilentarih</li>
                            <li class="list-group-item">bitirilen ve yapılan tarih: @i.bitirilen ve yapılantarih</li>
                            <li class="list-group-item">İş Durumu      : @i.isDurumİd</li>

                        </ul>
                    </div>
                </div>
            }



</div>

